
@import "MFXColors.css";

/*#custom .track {*/
/*    -fx-fill: derive(salmon, 70%);*/
/*}*/

/*#custom .bar1,*/
/*#custom:indeterminate .bar1 {*/
/*    -fx-fill: linear-gradient(to bottom right, #6A6AF8 0%, #C850C0 30%, darkorange 100%);*/
/*}*/

/*#custom:indeterminate .bar2 {*/
/*    -fx-fill: linear-gradient(to bottom right, #F4D03F 0%, #10d7b4 100%);*/
/*}*/

#determinate:range1 .bar1 {
    -fx-fill: -mfx-red;
}

#determinate:range1 .track {
    -fx-fill: derive(-mfx-red, 85%)
}

#determinate:range2 .bar1 {
    -fx-fill: -mfx-blue;
}

#determinate:range2 .track {
    -fx-fill: derive(-mfx-blue, 85%)
}

#determinate:range3 .bar1 {
    -fx-fill: -mfx-green;
}

#determinate:range3 .track {
    -fx-fill: derive(-mfx-green, 85%);
}

#determinate:range4 .bar1 {
    -fx-fill: -mfx-red;
}
#determinate:range4 .track {
    -fx-fill: derive(-mfx-red, 85%)
}